data-factory-resources/pipeline/pl_ImportSTFormatFiles.json
{
	"name": "pl_ImportSTFormatFiles",
	"properties": {
		"activities": [
			{
				"name": "Get file list",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_csv_parametrized",
						"type": "DatasetReference",
						"parameters": {
							"Container": "sampledata",
							"Directory": {
								"value": "@pipeline().parameters.FolderPath",
								"type": "Expression"
							},
							"File": " "
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get file list",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get file list').output.childItems",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_ImportSweetTreatsSales_Audit_withparams",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Directory": {
										"value": "@pipeline().parameters.FolderPath",
										"type": "Expression"
									},
									"File": {
										"value": "@item().name",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"FolderPath": {
				"type": "string",
				"defaultValue": "azure-data-factory-by-example-main.zip/azure-data-factory-by-example-main/SampleData/NaughtyButNice"
			}
		},
		"variables": {
			"var_file_name": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Chapter6"
		},
		"annotations": []
	}
}