data-factory-resources/pipeline/pl_ImportJson_parametrized_sugarcube_loop.json
{
	"name": "pl_ImportJson_parametrized_sugarcube_loop",
	"properties": {
		"activities": [
			{
				"name": "file setting lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_file_setting_lookup_landing",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "file setting lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('file setting lookup').output.firstRow.files",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "copy json parametrized sugarcube to SQL_copy1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Lookup1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@item().directory",
											"type": "Expression"
										},
										"wildcardFileName": {
											"value": "@item().file",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"value": "@activity('Lookup1').output.firstRow",
									"type": "Expression"
								}
							},
							"inputs": [
								{
									"referenceName": "ds_csv_parametrized",
									"type": "DatasetReference",
									"parameters": {
										"Container": {
											"value": "@item().container",
											"type": "Expression"
										},
										"Directory": {
											"value": "@item().directory",
											"type": "Expression"
										},
										"File": {
											"value": "@item().file",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_ASQL_dboSalesLoad",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Lookup1",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFileName": {
											"value": "@item().schema",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"dataset": {
									"referenceName": "ds_schema_mapping_json",
									"type": "DatasetReference"
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Chapter5"
		},
		"annotations": []
	}
}